name: Generate Mkdocs

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read
  pages: write
  id-token: write

on:
  push:
    branches:
      - master
    paths:
      - "docs/**"
      - "mkdocs.yml"
      - "pyproject.toml"
      - ".github/workflows/docs.yml"
  workflow_dispatch:

jobs:
  docs:
    uses: the-lupaxa-project/.github/.github/workflows/reusable-publish-mkdocs.yml@master
    secrets: inherit
    with:
      python-version: "3.13"
      use-dev-extras: true
